.popup__input-error {
  display: none;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ff0000;
  width: 83.25%;
  position: absolute;
  top: 35px;
  left: 0;
  display: block;
}
