.header__link {
  margin: 45px 0 46px 2px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  padding: 0;
}

.header__link:hover {
  cursor: pointer;
  opacity: 0.6;
}
